body{
    background-image: url(https://images.unsplash.com/photo-1617520998927-40e2633f6557?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);

}

#main-nav{
    margin: 0 auto;
    width: 960px;
    margin-top: 50px;
    background-color: #283618;
}

#header{
    width: 960px;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1604762524889-3e2fcc145683?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
    opacity: ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    text-align: center;
    position: relative;
    top: 100px;
    font-weight: 1500;
    color:  #606c38;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    border: 5px solid #BC6C25;
    background-color: rgba(255, 255, 255, .5);
    width: 930px;
    margin: 0 auto;
}

#sec2{
    height: 500px;
    background-color: #FEFAE0;
    margin: 0 auto;
    width: 960px;
}

#imgy{
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: relative;
    top: 100px;
    left: 25px;

}

.about{
    height: 300px;
    width: 500px;
    position: relative;
    left: 400px;
    bottom: 200px;
}

#sec3{
    height: 500px;
    width: 960px;
    margin: 0 auto;
    background-color: #DDA15E;
}

#sec3 img{
    height: 200px;
    width: 200px;
    margin: 50px;
    position: relative;
    top: 100px;
}

#footer{
    height: 500px;
    width: 960px;
    margin: 0 auto;
    background-color: #10120d;
}

#footer-form{
    height: 200px;
    width: 200px;
    position: relative;
    top: 100px;
    left: 50px;
}

#footer-form h4{
    margin: 0;
    text-align: center;
}

#btn-form{
    margin-top: 10px;
    background-color: #283618;
    color: white;
    border: 1px solid #3c5025;
}

.white{
    color: white;
}

#sitemap{
    height: 200px;
    width: 200px;
    position: relative;
    left: 350px;
    bottom: 100px;
}

#sitemap h4{
    text-align: center
}

#sitemap a{
    text-decoration: none;
    color: white;
}

.logo2{
    height: 100px;
    position: relative;
    left: 600px;
    bottom: 320px;
}

#phone{
    color: white;
    position: relative;
    left: 400px;
}

#cell-phone{
    position: relative;
    bottom: 300px;
    left: 250px;
}

.cell-icon{
    height: 25px;
    width: 25px;

}

.cell-numb{
    position: relative;
    left: 450px;
    bottom: 25px;

}

#mail-icon{
    height: 25px;
    width: 25px;
    color: white;
    position: relative;
    bottom: 320px;
    left: 650px;
}

.envo{
    position: relative;
    left: 700px;
    bottom: 345px;
}

.fb-icon{
    height: 25px;
    width: 25px;
    color: white;
    position: relative;
    left: 650px;
    bottom: 340px;
}

.fb{

    color: white;
    position: relative;
    left: 700px;
    bottom: 365px;
}

.fb-link{
    text-decoration: none;
}

.ig-icon{
    height: 28px;
    width: 28px;
    color: white;
    position: relative;
    left: 650px;
    bottom: 360px;
}

.insta{
    color: white;
    position: relative;
    left: 700px;
    bottom: 390px;
}

.insta-link{
    text-decoration: none;
}

@media (max-width: 991px){
    body{
    background-image: none;
    margin: 0;
    }

    #header{
        width: 960px;
    }

}