body{
  background: rgb(40,54,24);
background: linear-gradient(322deg, rgba(40,54,24,1) 4%, rgba(246,243,217,1) 28%, rgba(46,60,30,1) 71%, rgba(254,250,224,1) 100%);
    /* background-image: url(https://images.unsplash.com/photo-1617520998927-40e2633f6557?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80); */

}

#main-nav{
    margin-top: 50px;
    background-color: #283618;
}

header {
    position: relative;
    background-color: black;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100px;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }



/* #main-sec{ */
    /* width: 75%; */
    /* height: 500px; */
    /* margin: 0 auto;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1416879595882-3373a0480b5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */




 #title{ 
    margin:0  auto;
    font-weight: 2000; 
    color:  #606c38;
    font-family: 'Great Vibes', cursive;
    font-size: 100px; 
    text-shadow: 2px 2px 4px #000000;
    border: 5px solid rgb(221,161,94);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    
}

#sec2{
  background-color: #FEFAE0;
}

#monstera{
    width: 75%;
}

#pilea-img{

}

.border-btm{
  border-bottom: 5px solid rgb(221,161,94);
  
}

#pc-head{
  border: 5px solid rgb(221,161,94);
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Great Vibes', cursive;
  color:  #606c38;
  padding: 5px;
  font-size: 3em;
  letter-spacing: 3px;
}




#footer-form{
    width: 25%;
}

#sitemap a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}

#sitemap a:hover{
    color: #606c38;
}

#footer-logo{
    width: 7em;
}

.info-icons{
    font-size: 1.3em ;
}

.info a{
    text-decoration: none;
    color: white;
}